In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import csv 
import pandas as pd
new_data = []
with open("/content/drive/My Drive/Colab Notebooks/train_loan.csv") as f:
  reader = csv.reader(f)
  df1 = pd.read_csv(f)

In [0]:
 df1.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [0]:
df1['LoanAmount'].fillna(df1['LoanAmount'].mean(), inplace=True)

In [0]:
df1['Self_Employed'].fillna('No',inplace=True)

In [0]:
import numpy as np
df1['LoanAmount_log'] = np.log(df1['LoanAmount'])# to decrease significance of extreme loan values

In [0]:
df1['TotalIncome'] = df1['ApplicantIncome'] + df1['CoapplicantIncome']
df1['TotalIncome_log'] = np.log(df1['TotalIncome'])

In [0]:
df1['Gender'].fillna(df1['Gender'].mode()[0], inplace=True)
df1['Married'].fillna(df1['Married'].mode()[0], inplace=True)
df1['Dependents'].fillna(df1['Dependents'].mode()[0], inplace=True)
df1['Loan_Amount_Term'].fillna(df1['Loan_Amount_Term'].mode()[0], inplace=True)
df1['Credit_History'].fillna(df1['Credit_History'].mode()[0], inplace=True)

In [0]:
from sklearn.preprocessing import LabelEncoder
cat = ['Gender','Married','Dependents','Education','Self_Employed','Property_Area','Loan_Status']
enc = LabelEncoder()
for i in cat:
    df1[i] = enc.fit_transform(df1[i])

In [0]:
 df1.apply(lambda x: sum(x.isnull()),axis=0)

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
LoanAmount_log       0
TotalIncome          0
TotalIncome_log      0
dtype: int64

In [0]:
  """df1.Gender.fillna(-1)
  df1.Married = df1.Married.map( {'Yes': 1, 'No': 0} )
  df1.Self_Employed = df1.Self_Employed.map( {'Yes': 1, 'No': 0} ) 
  df1.Education = df1.Education.map( {'Graduate': 1, 'Not Graduate': 0} )
  df1.Loan_Status = df1.Loan_Status.map( {'Y': 1, 'N': 0} )
  df1.Property_Area = df1.Property_Area.map( {'Urban': 1, 'Rural': 0, 'Semiurban':2} )
  df1.interpolate(method = 'linear',axis = 0)"""

"df1.Gender.fillna(-1)\ndf1.Married = df1.Married.map( {'Yes': 1, 'No': 0} )\ndf1.Self_Employed = df1.Self_Employed.map( {'Yes': 1, 'No': 0} ) \ndf1.Education = df1.Education.map( {'Graduate': 1, 'Not Graduate': 0} )\ndf1.Loan_Status = df1.Loan_Status.map( {'Y': 1, 'N': 0} )\ndf1.Property_Area = df1.Property_Area.map( {'Urban': 1, 'Rural': 0, 'Semiurban':2} )\ndf1.interpolate(method = 'linear',axis = 0)"

In [0]:
df1

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmount_log,TotalIncome,TotalIncome_log
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1,4.986426,5849.0,8.674026
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0,4.852030,6091.0,8.714568
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1,4.189655,3000.0,8.006368
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1,4.787492,4941.0,8.505323
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1,4.948760,6000.0,8.699515
5,LP001011,1,1,2,0,1,5417,4196.0,267.000000,360.0,1.0,2,1,5.587249,9613.0,9.170872
6,LP001013,1,1,0,1,0,2333,1516.0,95.000000,360.0,1.0,2,1,4.553877,3849.0,8.255569
7,LP001014,1,1,3,0,0,3036,2504.0,158.000000,360.0,0.0,1,0,5.062595,5540.0,8.619750
8,LP001018,1,1,2,0,0,4006,1526.0,168.000000,360.0,1.0,2,1,5.123964,5532.0,8.618305
9,LP001020,1,1,1,0,0,12841,10968.0,349.000000,360.0,1.0,1,0,5.855072,23809.0,10.077819
10,LP001024,1,1,2,0,0,3200,700.0,70.000000,360.0,1.0,2,1,4.248495,3900.0,8.268732
11,LP001027,1,1,2,0,0,2500,1840.0,109.000000,360.0,1.0,2,1,4.691348,4340.0,8.375630
12,LP001028,1,1,2,0,0,3073,8106.0,200.000000,360.0,1.0,2,1,5.298317,11179.0,9.321792
13,LP001029,1,0,0,0,0,1853,2840.0,114.000000,360.0,1.0,0,0,4.736198,4693.0,8.453827
14,LP001030,1,1,2,0,0,1299,1086.0,17.000000,120.0,1.0,2,1,2.833213,2385.0,7.776954
15,LP001032,1,0,0,0,0,4950,0.0,125.000000,360.0,1.0,2,1,4.828314,4950.0,8.507143
16,LP001034,1,0,1,1,0,3596,0.0,100.000000,240.0,1.0,2,1,4.605170,3596.0,8.187577
17,LP001036,0,0,0,0,0,3510,0.0,76.000000,360.0,0.0,2,0,4.330733,3510.0,8.163371
18,LP001038,1,1,0,1,0,4887,0.0,133.000000,360.0,1.0,0,0,4.890349,4887.0,8.494334
19,LP001041,1,1,0,0,0,2600,3500.0,115.000000,360.0,1.0,2,1,4.744932,6100.0,8.716044
20,LP001043,1,1,0,1,0,7660,0.0,104.000000,360.0,0.0,2,0,4.644391,7660.0,8.943767
21,LP001046,1,1,1,0,0,5955,5625.0,315.000000,360.0,1.0,2,1,5.752573,11580.0,9.357035
22,LP001047,1,1,0,1,0,2600,1911.0,116.000000,360.0,0.0,1,0,4.753590,4511.0,8.414274
23,LP001050,1,1,2,1,0,3365,1917.0,112.000000,360.0,0.0,0,0,4.718499,5282.0,8.572060
24,LP001052,1,1,1,0,0,3717,2925.0,151.000000,360.0,1.0,1,0,5.017280,6642.0,8.801168
25,LP001066,1,1,0,0,1,9560,0.0,191.000000,360.0,1.0,1,1,5.252273,9560.0,9.165343
26,LP001068,1,1,0,0,0,2799,2253.0,122.000000,360.0,1.0,1,1,4.804021,5052.0,8.527539
27,LP001073,1,1,2,1,0,4226,1040.0,110.000000,360.0,1.0,2,1,4.700480,5266.0,8.569026
28,LP001086,1,0,0,1,0,1442,0.0,35.000000,360.0,1.0,2,0,3.555348,1442.0,7.273786
29,LP001087,0,0,2,0,0,3750,2083.0,120.000000,360.0,1.0,1,1,4.787492,5833.0,8.671287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584,LP002911,1,1,1,0,0,2787,1917.0,146.000000,360.0,0.0,0,0,4.983607,4704.0,8.456168
585,LP002912,1,1,1,0,0,4283,3000.0,172.000000,84.0,1.0,0,0,5.147494,7283.0,8.893298
586,LP002916,1,1,0,0,0,2297,1522.0,104.000000,360.0,1.0,2,1,4.644391,3819.0,8.247744
587,LP002917,0,0,0,1,0,2165,0.0,70.000000,360.0,1.0,1,1,4.248495,2165.0,7.680176
588,LP002925,1,0,0,0,0,4750,0.0,94.000000,360.0,1.0,1,1,4.543295,4750.0,8.465900
589,LP002926,1,1,2,0,1,2726,0.0,106.000000,360.0,0.0,1,0,4.663439,2726.0,7.910591
590,LP002928,1,1,0,0,0,3000,3416.0,56.000000,180.0,1.0,1,1,4.025352,6416.0,8.766550
591,LP002931,1,1,2,0,1,6000,0.0,205.000000,240.0,1.0,1,0,5.323010,6000.0,8.699515
592,LP002933,1,0,3,0,1,9357,0.0,292.000000,360.0,1.0,1,1,5.676754,9357.0,9.143880
593,LP002936,1,1,0,0,0,3859,3300.0,142.000000,180.0,1.0,0,1,4.955827,7159.0,8.876126
594,LP002938,1,1,0,0,1,16120,0.0,260.000000,360.0,1.0,2,1,5.560682,16120.0,9.687816
595,LP002940,1,0,0,1,0,3833,0.0,110.000000,360.0,1.0,0,1,4.700480,3833.0,8.251403
596,LP002941,1,1,2,1,1,6383,1000.0,187.000000,360.0,1.0,0,0,5.231109,7383.0,8.906935
597,LP002943,1,0,0,0,0,2987,0.0,88.000000,360.0,0.0,1,0,4.477337,2987.0,8.002025
598,LP002945,1,1,0,0,1,9963,0.0,180.000000,360.0,1.0,0,1,5.192957,9963.0,9.206634
599,LP002948,1,1,2,0,0,5780,0.0,192.000000,360.0,1.0,2,1,5.257495,5780.0,8.662159
600,LP002949,0,0,3,0,0,416,41667.0,350.000000,180.0,1.0,2,0,5.857933,42083.0,10.647399
601,LP002950,1,1,0,1,0,2894,2792.0,155.000000,360.0,1.0,0,1,5.043425,5686.0,8.645762
602,LP002953,1,1,3,0,0,5703,0.0,128.000000,360.0,1.0,2,1,4.852030,5703.0,8.648748
603,LP002958,1,0,0,0,0,3676,4301.0,172.000000,360.0,1.0,0,1,5.147494,7977.0,8.984318
604,LP002959,0,1,1,0,0,12000,0.0,496.000000,360.0,1.0,1,1,6.206576,12000.0,9.392662
605,LP002960,1,1,0,1,0,2400,3800.0,146.412162,180.0,1.0,2,0,4.986426,6200.0,8.732305
606,LP002961,1,1,1,0,0,3400,2500.0,173.000000,360.0,1.0,1,1,5.153292,5900.0,8.682708
607,LP002964,1,1,2,1,0,3987,1411.0,157.000000,360.0,1.0,0,1,5.056246,5398.0,8.593784
608,LP002974,1,1,0,0,0,3232,1950.0,108.000000,360.0,1.0,0,1,4.682131,5182.0,8.552946
609,LP002978,0,0,0,0,0,2900,0.0,71.000000,360.0,1.0,0,1,4.262680,2900.0,7.972466
610,LP002979,1,1,3,0,0,4106,0.0,40.000000,180.0,1.0,0,1,3.688879,4106.0,8.320205
611,LP002983,1,1,1,0,0,8072,240.0,253.000000,360.0,1.0,2,1,5.533389,8312.0,9.025456
612,LP002984,1,1,2,0,0,7583,0.0,187.000000,360.0,1.0,2,1,5.231109,7583.0,8.933664
613,LP002990,0,0,0,0,1,4583,0.0,133.000000,360.0,0.0,1,0,4.890349,4583.0,8.430109

In [0]:
features_label = df1.Loan_Status

In [0]:
df1 = df1.drop('Loan_ID',axis = 1)

In [0]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [0]:
train_features, test_features, train_labels, test_labels = train_test_split(df1, features_label, test_size = 0.25, random_state = 42)

In [0]:
modelRF = RandomForestClassifier(n_estimators = 120)
modelRF.fit(train_features,train_labels)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=120, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [0]:
predsRF = modelRF.predict(test_features)

In [0]:
from sklearn.metrics import accuracy_score
print("Accuracy for model : %.2f" % (accuracy_score(test_labels, predsRF) * 100))

Accuracy for model : 100.00